{% extends 'base.html.twig' %}

{% block title %}Edit ParticipationEvenement{% endblock %}

{% block body %}
    <h1>Edit ParticipationEvenement</h1>

    {{ include('participation_evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_participation_evenement_index') }}">back to list</a>

    {{ include('participation_evenement/_delete_form.html.twig') }}
{% endblock %}
