{% extends 'base.html.twig' %}

{% block title %}New ParticipationEvenement{% endblock %}

{% block body %}
    <h1>Create new ParticipationEvenement</h1>

    {{ include('participation_evenement/_form.html.twig') }}

    <a href="{{ path('app_participation_evenement_index') }}">back to list</a>
{% endblock %}
