<form method="post" action="{{ path('app_seance_delete', {'idSeance': seance.idSeance}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seance.idSeance) }}">
    <button class="btn">Delete</button>
</form>
