<form method="post" action="{{ path('app_commentairecinema_delete', {'id': commentairecinema.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentairecinema.id) }}">
    <button class="btn">Delete</button>
</form>
