{% extends 'baseBack.html.twig' %}

{% block title %}Edit Sponsor{% endblock %}

{% block body %}
<div class="mt-4">
            <a href="{{ path('app_sponsor_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i>
            </a>

    <div class="container mt-5">
        <h1 class="mb-4"><i class="fas fa-edit text-primary mr-2"></i>Edit Sponsor</h1>

        <div class="card shadow">
            <div class="card-body">
                {{ include('sponsor/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>

        
            {{ include('sponsor/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
