{% extends 'base.html.twig' %}

{% block title %}New Ratingfilm{% endblock %}

{% block body %}
    <h1>Create new Ratingfilm</h1>

    {{ include('ratingfilm/_form.html.twig') }}

    <a href="{{ path('app_ratingfilm_index') }}">back to list</a>
{% endblock %}
