{% extends 'base.html.twig' %}

{% block title %}Edit Actorfilm{% endblock %}

{% block body %}
    <h1>Edit Actorfilm</h1>

    {{ include('actorfilm/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_actorfilm_index') }}">back to list</a>

    {{ include('actorfilm/_delete_form.html.twig') }}
{% endblock %}
