{% extends 'base.html.twig' %}

{% block title %}New Actorfilm{% endblock %}

{% block body %}
    <h1>Create new Actorfilm</h1>

    {{ include('actorfilm/_form.html.twig') }}

    <a href="{{ path('app_actorfilm_index') }}">back to list</a>
{% endblock %}
