<form method="post" action="{{ path('app_filmcinema_delete', {'idFilm': filmcinema.idFilm}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ filmcinema.idFilm) }}">
    <button class="btn">Delete</button>
</form>
