{% extends 'base.html.twig' %}

{% block title %}Edit Filmcinema{% endblock %}

{% block body %}
    <h1>Edit Filmcinema</h1>

    {{ include('filmcinema/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_filmcinema_index') }}">back to list</a>

    {{ include('filmcinema/_delete_form.html.twig') }}
{% endblock %}
