{% extends 'base.html.twig' %}

{% block title %}New Filmcinema{% endblock %}

{% block body %}
    <h1>Create new Filmcinema</h1>

    {{ include('filmcinema/_form.html.twig') }}

    <a href="{{ path('app_filmcinema_index') }}">back to list</a>
{% endblock %}
