<form method="post" action="{{ path('app_commande_delete', {'idcommande': commande.idcommande}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.idcommande) }}">
    <button class="btn">Delete</button>
</form>
