{% extends 'base.html.twig' %}

{% block title %}New Cinema{% endblock %}

{% block body %}
    <h1>Create new Cinema</h1>

    {{ include('cinema/_form.html.twig') }}

    <a href="{{ path('app_cinema_index') }}">back to list</a>
{% endblock %}
