{% extends 'baseFront.html.twig' %}

{% block pageStyle %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock  %}
{% block title %}Category Event{% endblock %}

{% block body %}
    
<body>
        {{ block("header") }}

    <div class="container mt-5">
        <h1 class="mb-4"><i class="fas fa-list-alt text-primary mr-2"></i>CategorieEvenement </h1>

        <div style="color: black;" class="row">
            {% for categorie_evenement in categorie_evenements %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header bg-dark text-white">
                            <i style="color: black;" class="fas fa-tag"></i> {{ categorie_evenement.nomCategorie }}
                        </div>
                        <div class="card-body">
                            <p style="color: black;"><strong>Description:</strong> {{ categorie_evenement.description }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <p>No records found</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
