{% extends 'base.html.twig' %}

{% block title %}Edit Filmcoment{% endblock %}

{% block body %}
    <h1>Edit Filmcoment</h1>

    {{ include('filmcoment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_filmcoment_index') }}">back to list</a>

    {{ include('filmcoment/_delete_form.html.twig') }}
{% endblock %}
