{% extends 'base.html.twig' %}

{% block title %}New CommentaireProduit{% endblock %}

{% block body %}
    <h1>Create new CommentaireProduit</h1>

    {{ include('commentaire_produit/_form.html.twig') }}

    <a href="{{ path('app_commentaire_produit_index') }}">back to list</a>
{% endblock %}
