{% extends 'base.html.twig' %}

{% block title %}Error!{% endblock %}

{% block body %}

                 
                 
                <span class="message">{{message}}</span>

                 <style>
                     .message
                    {
                        position: absolute;
                        width: 1056px;
                        left: 250px;
                        top: 327px;
                        font-size: x-large;
                        background: cornsilk
                    }
                 </style>
{% endblock %}