{% extends 'baseFront.html.twig' %}

{% block pageStyle %}
    <link href="" rel="stylesheet">
    47x0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                : 10x 0 0-30
{% endblock %}

{% block body %}
    <body>
    {{ block("header") }}

    <section id="center" class="center_o pt-2 pb-2">
        <div class="container-xl">
            <div class="row center_o1">
                <div class="col-md-5">
                    <div class="center_o1l"></div>
                </div>
                <div class="col-md-7">
                    <div class="center_o1r text-end">
                        <h6 class="mb-0 col_red">
                            <a href="#">Home</a>
                            <span class="me-2 ms-2 text-light">
									<i class="fa fa-caret-right align-middle"></i>
								</span>
                            Paiment
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h3 class="text-center">Paiement effectué avec succès</h3>


    >
    </body


    {{ block("footer") }}</body>{% if hasErrorsCreate is defined %}
    <script>
        const myModal = new bootstrap.Modal('#staticBackdrop', {keyboard: false});
        const modalToggle = document.getElementById('staticBackdrop');
        myModal.show(modalToggle);
    </script>{% endif %}
    <script>


    </script>{% endblock %}
