{% extends 'base.html.twig' %}

{% block title %}New CategorieProduit{% endblock %}

{% block body %}
    <h1>Create new CategorieProduit</h1>

    {{ include('categorie_produit/_form.html.twig') }}

    <a href="{{ path('app_categorie_produit_index') }}">back to list</a>
{% endblock %}
