<form method="post" action="{{ path('app_friendships_delete', {'id': friendship.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ friendship.id) }}">
    <button class="btn">Delete</button>
</form>
