{% extends 'base.html.twig' %}

{% block title %}New Friendships{% endblock %}

{% block body %}
    <h1>Create new Friendships</h1>

    {{ include('friendships/_form.html.twig') }}

    <a href="{{ path('app_friendships_index') }}">back to list</a>
{% endblock %}
