{% extends 'base.html.twig' %}

{% block title %}New Filmcategory{% endblock %}

{% block body %}
    <h1>Create new Filmcategory</h1>

    {{ include('filmcategory/_form.html.twig') }}

    <a href="{{ path('app_filmcategory_index') }}">back to list</a>
{% endblock %}
